$max-width: 1200px;
$gutter: 20px;

/* div {
  villa-fjarlægðu-mig;
  stylelint-ætti-að-kvarta;
}
*/
$baseFont: "Lora", "Times New Roman", serif;
$headlineFont: "Roboto Mono", "Courier New", monospace;

$white: #fff;
$black: #000;
$darkGray: #999;
$mediumGray: #aaa;
$lightGray: #ccc;
$green: #2d2;
$darkGreen: #1a1;
$yellow: #fcffd2;
$red: #cc9694;
