$max-width: 1200px;
$gutter: 20px;
$white: #fff;
$black: #000;
$darkGray: #999;
$mediumGray: #aaa;
$lightGray: #ccc;
$green: #2d2;
$darkGreen: #1a1;
$yellow: #fcffd2;
$red: #cc9694;
$baseFont: "Lora", "Times New Roman", "Serif";
$headlineFont: "Roboto Mono", "Courier New", "Monospace";
@import "mixins";
